<!-- HTML -->
		<section class="contact" id="contact">
			<div class="navContact">
				<p><span style="color: red; font-weight: bold; font-size: 20px">Message Us</span> and we will help you!<p>
				<div class="form">
					<div class="form1">
						<label for="Name">NAME :</label>
						<input type="text" name="Name" class="form-input">
						<label for="Email">EMAIL :</label>
						<input type="text" name="Email" class="form-input">	
						<label for="Contact">CONTACT NO. :</label>	
						<input type="number" name="Contact" class="form-input">
						<label for="Message">PLEASE TYPE YOUR MESSAGE	 :</label>	
						<textarea name="Message" placeholder=" Please enter your message" class="textarea"></textarea>
						<button class="submit">submit</button>						
					</div>
				</div>
			</div>
		</section>
		


<!-- CSS -->
.form {
	width :50%;
}
.form1 {
	color: white;
	margin-top: 50px;
	margin-left: 25px;
}
.form1 label {
	font-family: 'Orbitron', sans-serif;
	margin-left: 20px;
}
.form-input {
	display: block;
	width: 50%;
	border-radius: 5px;
	font-size: 20px;
	width: 500px;
	height: 30px;
	margin: 15px;
}
.textarea {
	width: 500px;
	height: 200px;
	border-radius: 5px;
	font-size: 20px;
	margin: 15px;
}
.submit {
  font-family: 'Orbitron', sans-serif;
  padding: 2px 25px;
  text-shadow: 3px 3px 3px #000000;
  box-shadow: 5px 5px 5px black;
  border-style: solid;
  border-color: gray;
  background-color: black;
  color: white;
  font-size: 20px;
  font-weight: bold;
  border-radius: 20px;
  transition: 0.5s;
  margin-left: 10px;
  outline: none;
}
.submit:hover {
  background-color: gray ;
/*  color: red;*/
  text-shadow: 3px 3px 3px black;
  border-radius: 20px;
}