*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	/*border: 1px solid red;*/
	/*overflow-x: hidden;*/
	background: black;
	scroll-behavior: smooth;
}

/*nav{
	height: 80px;
	padding: 0 20px;
	background: black;
	opacity: 0.5;
	font-family: 'Changa One', cursive;
	position: fixed;
	z-index: 2000;
}

.logo{
	
	width: 150px;
	height: auto;
}

nav ul{
	float: right;
	color: white;
}
nav ul li{
	list-style: none;
	display: inline-block;
	line-height: 80px;
}*/

/*nav ul li a{
	text-decoration: none;
	color: white;
	padding: 10px 10px;
	text-transform: uppercase;
	position: relative;

}*/


/*new nav*/
.navbars {
  width: 98vw;
  height: 100px;
  background: black;
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: fixed;
  top: 0;
  z-index: 1000;
  opacity: 0.5;
}

.navbars > a {
  text-transform: uppercase;
  margin-left: 20px;
}

.navbars a:hover {
  color: #FB244E;
}

.navlist > li {
  display: inline-block;
  list-style-type: none;
  padding: 0 10px;
}

.navlist > li > a {
  text-decoration: none;
  color: white;
}

.navlist {
  color: white;
  display: flex;
  list-style: none;
  justify-content: center;
  align-items: center;
  font-size: 15px;
}


.logo{
  
  width: 150px;
  height: auto;
}


/*.dropdown-content{
  display: none;
  position: absolute;
}

.dropdown-parent:hover .dropdown-content{
  display: block;
}

.dropdown-parent{
  position: relative;
}*/



/*video-landing*/
#home{
	background: url(https://images.pexels.com/photos/316681/pexels-photo-316681.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940);
	/*height: 100%;*/
	background-size: cover;
	/*background-color: #0F1020;*/
	background-position: center;


}
#home-bg-video{
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translateX(-50%) translateY(-50%);
	min-width: 100%;
	min-height: 50%;
	width: auto;
	height: auto;
	z-index: -1;

	
}


.home-section{
	height: 100vh;

}

/*about-section*/
.about-section{
  width: 100%;
  background: black;
  padding: 40px 0;
  height: 100vh;
  color: white;

}

.inner-width{
  max-width: 1000px;
  overflow: hidden;
  padding: 0 20px;
  margin: auto;
  /*font-family: 'Palanquin Dark', sans-serif;*/

}
.about-section h1{
  text-align: center;
  font-family: 'Changa One', cursive;
  color: #F21B3F;
}
.border{
  width: 100px;
  height: 3px;
  background: #e74c3c;
  margin: 40px auto;
}
.about-section-row{
  display: flex;
  flex-wrap: wrap;
}

}
.about{
  padding-right: 10px;
}
.about p{
  text-align: center;
  margin-bottom: 20px;
}
.about a{
  display: inline-block;
  color: #e74c3c;
  text-decoration: none;
  border: 2px solid #e74c3c;
  border-radius: 24px;
  padding: 8px 40px;
  transition: 0.4s linear;
}
.about a:hover{
  color: #fff;
  background: #e74c3c;
}

.gallery{
	background: black;
}

.img-width img{
	width: 250px;
  height: 300
	border-radius: 10%;
	padding: 10px;
}

.img-width-gallery img {

	padding: 5px;
}

.img-width-gallery img {
	width: 400px;
	height: 370px;
	/*padding: 5px; */

}
/*.img-width-gallery img {
	display: inline-block;
}*/

/*soundcloud*/




/*contact-us*/

/*.form-contact > input {
width: 10%;
padding: 10px 10px 10px 10px;
border: 2px solid black;
margin-bottom: 20px;
color: black;
}

.form-contact > textarea {
	width: 100%;
 	height: 150px;
 	padding: 12px 10px;
 	box-sizing: border-box;
 	border: 2px solid black;
 	border-radius: 4px;
 	resize: none;
 	color: black;
}*/

/*form*/
input[type=text], select, textarea {
  width: 100%;
  padding: 12px;
  border: 1px solid #ccc;
  margin-top: 6px;
  margin-bottom: 16px;
  resize: vertical;
  color: white;
}

input[type=submit] {
  background-color: #F21B3F;
  background-color: #;
  color: white;
  padding: 12px 20px;
  border: none;
  cursor: pointer;
}

input[type=submit]:hover {
  background-color: #45a049;
}

/* Style the container/contact section */
.container {
  border-radius: 5px;
  background-color: black;
  padding: 10px;
  color: white;
}

.contact-us{
	background: black;
}

/* Create two columns that float next to eachother */
.column {
  float: left;
  width: 50%;
  margin-top: 6px;
  padding: 20px;
  
}

.column > img {
	border-radius: 50%;
}

/* Clear floats after the columns */
.row:after {
  content: "";
  display: table;
  clear: both;
}

footer{
	text-align: center;
	color: white;
}

@media screen and (max-width:700px) {
  .about-section-col{
    flex: 100%;
    margin: 10px 0;
  }
  .about,.skills{
    padding: 0;
  }
  .about{
    text-align: center;
  }
}

@media (min-aspect-ratio: 16/9) {
    #videoBG {
        width:100%;
        height: auto;
    }
}
@media (max-aspect-ratio: 16/9) {
    #videoBG { 
        width:auto;
        height: 100%;
    }
}
@media (max-width: 767px) {
    #videoBG {
        display: none;
    }
    body {
        background: url('poster.jpg');
        background-size: cover;
    }
}
@media only screen and (-webkit-device-pixel-ratio:.75){

  /*CSS  */
}

/*(mdpi) Android*/
@media only screen and (min-device-width : 480px) and (max-device-width : 800px) {

  /*CSS  */
}

/*(hdpi) Android*/
@media only screen and (-webkit-device-pixel-ratio:1.5){

  /*CSS  */

}

#carouselExampleFade {

  width: 500px;
